doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial=device-initial')
  title #{title} | #{page}
  script(src='script.js' async='')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/user.css')
  link(rel='stylesheet' href='css/signup.css')

body 
    include includes/navigation.pug
    block content